<form [formGroup]="signInForm" (ngSubmit)="submitForm()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>

    <input type="email" formControlName="email" matInput />

    <mat-hint *ngIf="signInForm.controls.email.touched && signInForm.get('email')?.hasError('required')">
      Email is required!
    </mat-hint>

    <mat-hint *ngIf="signInForm.controls.email.touched && signInForm.get('email')?.hasError('email')">
      Email is invalid!
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>

    <input type="password" formControlName="password" matInput />

    <mat-hint *ngIf="signInForm.controls.password.touched && signInForm.get('password')?.hasError('required')">
      Password is required!
    </mat-hint>

    <mat-hint *ngIf="signInForm.controls.password.touched && signInForm.get('password')?.hasError('minLength')">
      Password must contain at least 6 characters!
    </mat-hint>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="signInForm.invalid">
    Sign In
  </button>
</form>
