<mat-toolbar>
  <a routerLink="">Coffee Shop</a>

  <span class="spacer"></span>

  @if (user() !== null) {
    <button mat-button [matMenuTriggerFor]="userDropdown">
      Hey, {{ user()?.firstName }}
    </button>

    <mat-menu #userDropdown>
      <button mat-menu-item (click)="handleSignOut()">
        Sign out
      </button>
    </mat-menu>
  } @else {
    <a routerLink="sign-in" routerLinkActive="active">
      Sign In
    </a>

    <a routerLink="sign-up" routerLinkActive="active">
      Sign Up
    </a>
  }
</mat-toolbar>
